@model dynamic

@{
    int meses = Model.Mascota.edad;
    int años = meses / 12;
    int mesesRestantes = meses % 12;
}

@section Styles {
    <link rel="stylesheet" href="~/css/DetailsMasc.css">
}

<h1>@ViewData["Title"]</h1>
<div>
    <div class="sub1">
        <div>
            <h2>AYUDANOS  A  AYUDAR</h2>
            <img src="/img/dog_albergue.png" class="perritos">
        </div>
    </div>
    <div class="subtitulo">
        <div><span class=""><strong><b>CON MUCHO AMOR</b></strong></span></div>
        <div style="float: right;">
            <a asp-action="Index" asp-controller="Mascotas"><button class="info">Regresar</button></a>
        </div>
    </div>
</div> <br><br><br>
<div class="row">
    <div class="col-sm-8">
        <div class="card mb-3 text-center" style="max-width: 50rem;">
            <div class="card-body">
                <div class="card-img-actions">
                    <img src="data:image/png;base64,@Convert.ToBase64String(Model.Mascota.Imagen)" alt="Imagen de la mascota" class="card-img-top mx-auto d-block" />
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-4 ">
        <div class="card mb-3" style="max-width: 20.6rem; margin-top: 110px;">
            <div class="card-body">
                <h5 class="card-header text-center"><font style="vertical-align: inherit;">@Model.Mascota.tipo</font></font></h5>
                <br>
                <h5 class="card-title">Nombre: @Model.Mascota.nombre</h5>
                <h5 class="card-text">Raza: @Model.Mascota.raza</h5>
                <h5 class="card-title">Sexo: @Model.Mascota.genero</h5>
                <h5 class="card-title">Edad:
                    @if (años > 0)
                    {
                        @if (años == 1)
                        {
                            @:1 año
                        }
                        else
                        {
                            @: @años años
                        }
                        @if (mesesRestantes > 0)
                        {
                            @: y @mesesRestantes meses
                        }
                    }
                    else
                    {
                        @: @meses meses
                    }
                </h5>
                <h5 class="card-title">Tamaño: @Model.Mascota.tamaño</h5>
                <h5 class="card-text">Carácter: @Model.Mascota.caracter</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a class="btn custom-button btn-block" asp-action="Adopcion" asp-route-id="@Model.Mascota.id" style="width:330px;">Solicitar Adopción</a>
            </div>
            <div class="col-md-6">
                <a class="btn custom-button btn-block" asp-action="Padrinaje" asp-route-id="@Model.Mascota.id" style="width:160px;">Apadrinaje</a>
            </div>
            <div class="col-md-6">
                <a class="btn custom-button btn-block" asp-action="Visita" asp-route-id="@Model.Mascota.id" style="width:160px; margin-left:-50px;">Quiero Conocerlo</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card mb-3" style="max-width: 100%;">
            <div class="card-body">
                <h5 class="card-header text-center">Historial de salud</h5>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Fecha</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Raza</th>
                            <th scope="col">Observaciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Model.HistorialMedico.Fecha_reg</td>
                            <td>@Model.Mascota.nombre</td>
                            <td>@Model.Mascota.raza</td>
                            <td>@Model.HistorialMedico.observaciones</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
