@model IEnumerable<Patitas_Felices.Models.MASCOTAS>

@{
    ViewData["Title"] = "Mascotas para adopatar";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Mascotas.css">     
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
}


<div class="fondo">
    <img class="fondo__img">
</div>



<form asp-controller="Mascotas" asp-action="Index">
    <div class="buscar">
        <input type="text" name="searchString" placeholder="Buscar" required>
        <div class="tree">
            <i class="fas fa-search icon"></i>
        </div>
    </div>
</form>

<h1>@ViewData["Title"]</h1>


<div class="container">
    @foreach (var item in Model)
    {
        <div class="card" style="--clr:#009688;">
            <div class="imgBx">
               <img src="data:image/jpeg;base64,@Convert.ToBase64String(item.Imagen)" alt="@item.Imagen" />
            </div>
            <div class="content">
                <h2>@item.nombre</h2>
                <p>@item.tamaño</p>
                <h3>@item.raza</h3>
                <a class="btn btn-primary" asp-action="Adopcion" asp-route-id="@item.id">Adoptar</a>
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.id">Ver más</a>
            </div>
        </div>
    }
</div>


@section Scripts {

    <script src="https://kit.fontawesome.com/712575d4a5.js" crossorigin="anonymous"></script>
    
}