@model IEnumerable<Patitas_Felices.Models.MASCOTAS>

@{
    ViewData["Title"] = "Mascotas para Adoptar";
}


<div class="center">
<div class="search_content">
    <div class="input_cont">
        <form  asp-controller="Mascotas" asp-action="Index">
            <input type="text" name="searchString"  placeholder="Búsqueda"  >
            <button id="btn" onclick="showSearch()">Búsqueda</button>
        </form >
    </div>
</div>
</div>

<h1>@ViewData["Title"]</h1>
<div class="container">
<h1>@ViewData["Message"]</h1>
<div class="row">
    <div class="col">
        <div id="product" class="mb-3">
            <div class="row">
                @foreach(var item in Model){
                    <div class="col-sm-4">
                        <div class="card-body">
                            <div class="card-img-actions">
                                <img class="img-responsive" width="200" height="250" src="data:image/jpeg;base64,@Convert.ToBase64String(item.Imagen)" alt="@item.Imagen"/>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.nombre)</h5>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.tamaño)</p>
                           <h5 class="card-title">@Html.DisplayFor(modelItem => item.raza)</h5>
                            <a class="btn btn-primary" asp-action="Add" >Adoptar</a>
                            <a class="btn btn-info" asp-action="Details" asp-route-id="@item.id">Ver</a>

                        </div>
                    </div>

                }
            </div>

        </div>

    </div>

</div>
</div>