@model IEnumerable<Patitas_Felices.Models.CLIENTE>

@{
    ViewData["Title"] = "Listado de Clientes";
}
<h1>@ViewData["Title"]</h1>
<br><br>

<div class="center">
<div class="search_content">
    <div class="input_cont">
        <form  asp-controller="HistoryMedic" asp-action="Index">
            <input type="text" name="searchString"  placeholder="Búsqueda"  >
            <button id="btn" onclick="showSearch()">Búsqueda</button>
        </form >
    </div>
</div>
</div>


<div class="container">
<h1>@ViewData["Message"]</h1>
<div class="row">
    <div id="HistoryMedic" class="col-sm-12 text-center">
        <div class="row">
            <div>
                <table class="table mx-auto">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>DNI</th>
                            <th>Celular</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in Model){
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.id)</td>
                                <td>@Html.DisplayFor(modelItem => item.nombres)</td>
                                <td>@Html.DisplayFor(modelItem => item.dni)</td>
                                <td>@Html.DisplayFor(modelItem => item.celular)</td>
                                <td>
                                    <a class="btn btn-primary" asp-action="Add">editar</a>
                                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.id">Ver</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



</div>